@charset "utf-8";

@media (min-width: 970px){
.cont_01 {position:relative; text-align:center; width:930px; padding:20px; margin:0 auto;}
.cont_01 ul {font-size:13px; text-align:center;}
.title {display:flex; justify-content:center; height:30px; padding:5px;}
.titMenut {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; font-size:18px; font-weight:500; color:#008aff; border-top:2px solid #008aff;}
.titMenu {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; font-size:18px; font-weight:500; color:#008aff;}
.titMenu a {font-size:16px; font-weight:400;}
.titMenu a:hover {font-size:16px; color:#008aff;}
.titDot {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; width:16px;}
.titText {font-size:11px; font-weight:200; letter-spacing:-1px; margin-bottom:20px;}
.tit_st {font-size:18px; font-weight:400; letter-spacing:-1px; color:#000; margin-bottom:10px;}

.map_btn {position:relative; display:inline-block; width:100%; padding:20px 0; right:0; font-weight:400; text-align:center}
.map_btn .map_btn1 {position:relative; display:inline-block; text-align:center; color:#fff; width:150px; background:#008aff; padding:10px 15px; border-radius:5px; top:0; margin-left:15px;}
.map_btn .map_btn1 a {color:#fff !important}
.map_btn .map_btn1:hover{color:#fff; background:#005ce5 !important}

/* Tap */
.tapArea {position:relative; display:inline-block;}
.tap1On {position:relative; display:inline-block; font-size:18px; padding:10px; color:#fff; width:443px; background-color:#f6905d; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap1Off {position:relative; display:inline-block; background-color:#efefef; font-size:14px; width:443px; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap1Off a{position:relative; display:inline-block; padding:10px; font-size:14px; color:#aaa; width:443px; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap1Off a:hover{position:relative; display:inline-block; background-color:#f6905d; font-size:14px; color:#fff; width:443px; vertical-align:bottom; border-radius:10px 10px 0 0;}

.tapArea {position:relative; display:inline-block;}
.tap2On {position:relative; display:inline-block; font-size:18px; padding:10px; color:#fff; width:443px; background-color:#4bc3cf; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap2Off {position:relative; display:inline-block; background-color:#efefef; font-size:14px; width:443px; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap2Off a{position:relative; display:inline-block; padding:10px; font-size:14px; color:#aaa; width:443px; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap2Off a:hover{position:relative; display:inline-block; padding:10px;  font-size:14px; color:#fff; width:443px; background-color:#4bc3cf; vertical-align:bottom; border-radius:10px 10px 0 0;}
/****/

.writeBoxO {position:relative; border-radius:0 0 10px 10px; background-color:white; border:3px solid #f6905d; padding:40px;}
.writeBoxE {position:relative; border-radius:0 0 10px 10px; background-color:white; border:3px solid #4bc3cf; padding:40px;}
.writeBoxG {position:relative; border-radius:10px 10px 10px 10px; background-color:white; border:3px solid #efefef; padding:40px;}

.contArea {position:relative; display:inline-block; width:100%;}
.inputLine {position:relative; width:100%; border:1px solid #dfdfdf; margin:0 0 5px 0; padding:8px; vertical-align:middle; background-color:#fafafa;}
			:last-child {margin:0;}
.inputTitle {position:relative; display:inline-block; width:150px; font-size:14px; text-align:left;}
.inputText1 {position:relative; display:inline-block; width:160px; font-size:14px; text-align:left;}
.inputBox {position:relative; display:inline-block; width:600px; font-size:14px; text-align:left;}
.inputBox2 {position:relative; display:grid; grid-template-rows: repeat(2, 22px); grid-template-columns: repeat(3, 1fr); text-align:center;}
.inputBox2 .item {display:inline-block; width:100%; text-align:left; padding-left:70px;}
.inputBox3 {position:relative; display:grid; grid-template-rows: repeat(1, 22px); grid-template-columns: repeat(4, 1fr); font-size:14px;}
.inputBox3 .item {display:inline-block; text-align:left; vertical-align:middle; padding-left:60px;}
.contComment {position:relative; display:inline-block; width:100%; font-size:12px; color:#555; text-align:left; margin-bottom:20px;}

.enter01 {display:none;}
.input01 {border:1px solid #c8c8c8; background-color:#fff; font-size:16px; font-weight:300; width:500px; padding:8px; margin-right:5px !important;}
.bottombtn {text-align:left; font-weight:300; padding:20px 0; font-size:13px;}
.btn_info01 {display:inline-block; color:#008aff; font-weight:400; font-size:14px; width:30%; letter-spacing:-1px;}
.btn_info01 a{color:#008aff; font-weight:400; font-size:14px; width:140px; letter-spacing:-1px;}
.enter {text-align:center; padding:10px 0;}
.btn_enter a{background-color:#008aff; height:50px; color:#fff; border-radius:10px 10px 10px 10px; padding:15px 50px;}
.btn_enter a:hover{background-color:#005ce5;}
.btn_close a{background-color:#000; color:#fff; font-size:14px; border-radius:20px 20px 20px 20px; padding:5px 30px;}
.btn_close a:hover{background-color:#005ce5;}
.img-max {display:none;}
.space {height:40px;}

.bodyText {position:relative; font-size:14px; line-height:1.8; font-weight:300; text-align:left; letter-spacing:-1;}
.body3text {position:relative; display:inline-block; width:287px; font-size:12px; line-height:1.6; font-weight:300; text-align:left; letter-spacing:-1; vertical-align:top; margin-right:10px;}
			:last-child {margin-right:0;}
.p2 {font-size:24px; line-height:1.6; letter-spacing:-1;}
.p3 {font-size:18px; line-height:1.4; letter-spacing:-1;}
.p4 {font-size:16px; letter-spacing:-1;}
.bodyText img{width:100%;}


.t1 {width:3%; vertical-align:top}
.t2 {width:97%;}

.top-padding {padding-top: 100px;}

/* policy */
.tab {position:relative; display:block; width:1200px; height:56px; margin:0 auto;}
.tab ul li a{position:relative; display:block; width:20%; float:left; padding:15px 10px; text-align:center; background-color:#ddd; border:1px solid #fff;}
.tab ul li a:hover{background-color:#f15d3f; color:#fff;}
.cont_p {position:relative; display:block; text-align:left; width:1200px; margin:0 auto;}
.cont_p .title{position:relative; display:block; text-align:left; font-size:22px; font-weight:600; width:1200px; padding-bottom:20px; margin:0 auto;}
.cont_p .bodytext{position:relative; display:block; text-align:left; font-size:14px; font-weight:300; width:1200px; margin:0 auto;}
.cont_policy {position:relative; width:100%; height:400px; background-image:url(../img/bg_sub.png);}
.cont_policy .image {position:relative; text-align:center; width:1200px; background-image:url(../img/img_sub.png); height:800px;}
.cont_policy .headcopy {position:relative; text-align:center; font-size:65px; font-weight:600; letter-spacing:-3px; top:200px; color:#f15d3f;}
.cont_policy .bodycopy {position:relative; text-align:center; font-size:18px; font-weight:400; letter-spacing:-1px; top:190px; color:#f15d3f;}
}

@media (max-width: 970px){

.cont_01 {position:relative; width:100%; padding:20px; margin:0 auto;}
.cont_01 ul {font-size:12px;}
.title {display:flex; height:30px; justify-content:center; text-align: center; padding:5px;}
.titMenut {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; font-size:14px; font-weight:500; color:#008aff; border-top:2px solid #008aff;}
.titMenu {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; font-size:14px; font-weight:500; color:#008aff;}
.titMenu a {font-size:13px; font-weight:400;}
.titMenu a:hover {font-size:13px; color:#008aff;}
.titDot {display:inline-block; font-family: 'Noto Sans KR', 'dotum', sans-serif; letter-spacing:-2px; width:12px;}
.titText {font-size:11px; font-weight:200; line-height:1.2; letter-spacing:-1px; margin-bottom:20px;}
.tit_st {text-align:center; font-size:14px; font-weight:400; letter-spacing:-1px; color:#000; margin-bottom:5px;}

.map_btn {position:relative; display:inline-block; width:100%; padding:20px 0; right:0; font-weight:400; text-align:center;}
.map_btn .map_btn1 {position:relative; display:inline-block; text-align:center; color:#fff; width:128px; background:#008aff; padding:10px 5px; border-radius:5px; top:0; margin:5px;}
.map_btn .map_btn1 a {color:#fff !important}
.main_btn {float:right; background:#008aff; border-radius:5px; padding:8px 20px; color:#fff; margin:20px auto;}

/* Tap */
.tapArea {position:relative; display:inline-block;}
.tap1On {position:relative; display:inline-block; line-height:1.0; text-align:center; font-size:18px; padding:10px; color:#fff; width:49%; background-color:#f6905d; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap1Off {position:relative; display:inline-block; line-height:1.0; text-align:center; background-color:#efefef; font-size:14px; width:49%; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap1Off a{position:relative; display:inline-block; line-height:1.0; text-align:center; padding:10px; font-size:14px; color:#aaa; vertical-align:bottom; border-radius:10px 10px 0 0;}


.tapArea {position:relative; display:inline-block; width:100%; text-align:center;}
.tap2On {position:relative; display:inline-block; line-height:1.0; text-align:center; font-size:18px; padding:10px; color:#fff; width:49%; background-color:#4bc3cf; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap2Off {position:relative; display:inline-block; line-height:1.0; text-align:center; background-color:#efefef; font-size:14px; width:49%; vertical-align:bottom; border-radius:10px 10px 0 0;}
.tap2Off a{position:relative; display:inline-block; line-height:1.0; text-align:center; padding:10px; font-size:14px; color:#aaa; vertical-align:bottom; border-radius:10px 10px 0 0;}

/****/

.writeBoxO {position:relative; border-radius:0 0 10px 10px; background-color:white; border:3px solid #f6905d; padding:10px;}
.writeBoxE {position:relative; border-radius:0 0 10px 10px; background-color:white; border:3px solid #4bc3cf; padding:10px;}
.writeBoxG {position:relative; border-radius:10px 10px 10px 10px; background-color:white; border:3px solid #efefef; padding:10px;}

.contArea {position:relative; display:inline-block; width:100%;}
.inputLine {display: table; position:relative; width:100%; border:1px solid #dddddd; margin:0 0 5px 0; padding:6px; background-color:#fafafa; font-size: 11px;}
		:last-child {margin:0;}
.inputTitle {position:relative; display:table-cell; width:90px; font-size:11px; letter-spacing:-3; text-align:left; vertical-align: middle;}
.inputText1 {position:relative; display:inline-block; width:100px; font-size:11px; letter-spacing:-3; text-align:left;}
.inputBox {position:relative; display:inline-block; font-size:12px; text-align:right;}
.inputBox2 {position:relative; display:inline-block; font-size:12px; text-align:left;}
.inputBox2 .item {display:inline-block; width:49%; padding:6px 0; text-align:left;}
.inputBox3 {display:grid; width:100%; grid-template-rows: repeat(2, 22px); grid-template-columns: repeat(2, 49%); font-size:12px;}
.inputBox3 .item {display:inline-block; text-align:left; vertical-align:middle; padding-left:20px;}
.contComment {position:relative; display:inline-block; width:100%; font-size:10px; color:#555; text-align:left; margin-bottom:10px;}

.enter01 {display:visible;}
.input01 {border:1px solid #c8c8c8; background-color: #fff; font-size:14px; font-weight:300; width:150px; height:40px; padding: 0 10px !important; margin-right:5px !important;}
.bottombtn {text-align:left; font-weight:300; padding:30px 0 10px 0; font-size:11px; letter-spacing:-1px;}
.btn_info01 {display:inline-block; color:#008aff; font-size:13px; letter-spacing:-1; width:50%; margin-bottom:20px;}
.btn_info01 a{color:#008aff; font-size:13px; letter-spacing:-1; width:140px; margin-bottom:20px;}
.enter {text-align:center;}
/* .enter a{text-align:center; padding:10px 0; color:#fff; border-radius:10px 10px 10px 10px;} */
.btn_enter a{display:flex; justify-content: center; background-color:#008aff; color:#fff; border-radius:10px 10px 10px 10px; padding:10px 0;}
.btn_close a{background-color:#000; color:#fff; font-size:12px; border-radius:20px 20px 20px 20px; padding:5px 30px;}
.btn_close a:hover{background-color:#005ce5;}
.img-min {display:none;}
.space {height:20px;}

.bodyText {font-size:13px; line-height:1.6; font-weight:300; text-align:left; letter-spacing:-1;}
.body3text {position:relative; display:inline-block; width:100%; font-size:12px; line-height:1.6; font-weight:300; text-align:left; letter-spacing:-1; vertical-align:top;}
.p2 {font-size:20px; line-height:20px;}
.p3 {font-size:14px; line-height:1.4;}
.p4 {font-size:13px;}
.bodyText img{width:100%;}


.t1 {width:3%; vertical-align:top}
.t2 {width:97%;}

.top-padding {padding-top: 54px;}

/* policy */
.tab {position:relative; display:block; width:100%; height:120px; margin:0 auto;} 
.tab ul li a{position:relative; display:block; width:50%; float:left; padding:15px 10px; text-align:center; font-size:12px; background-color:#ddd; border:1px solid #fff;}
.tab ul li a:hover{background-color:#f15d3f; color:#fff;}
.cont_p {position:relative; display:block; text-align:left; width:100%; padding:20px; margin:0 auto;}
.cont_p .title{position:relative; display:block; text-align:left; font-size:24px; font-weight:600; width:100%; padding-bottom:20px; margin:0 auto;}
.cont_p .bodytext{position:relative; display:block; text-align:left; font-size:14px; font-weight:300; width:100%; margin:0 auto;}
.cont_policy {position:relative; width:100%; height:200px; background-image:url(../img/bg_sub.png); background-repeat:repeat-x; background-size: 100% 100%;}
.cont_policy .image {position:relative; text-align:center; width:100%; background-image:url(../img/img_sub.png); background-repeat:no-repeat; background-size:100%; height:200px;}
.cont_policy .headcopy {position:relative; text-align:center; font-size:38px; font-weight:600; letter-spacing:-3px; top:80px; color:#f15d3f;}
.cont_policy .bodycopy {position:relative; text-align:center; font-size:15px; font-weight:400; letter-spacing:-1px; top:74px; color:#f15d3f;}
}

/* ê²ìí */

@media (min-width: 970px){

.divTable{margin-top:30px; display: table; width: 100%; vertical-align:inline !important;}
.divTable01 {border-bottom: 1px solid #ddd; display: table-cell; padding: 10px 0; line-height:30px;}
.divTable02 {display:block; border: 2px solid #444; padding:20px;}
.divTable03 {display:block; padding:20px 0 0 0;}
.divTable02 .cell{display:inline-block; width:48%; text-align:left;}
.topText {text-align:center; font-size:20px; line-height: 1.5;}

.divTableBody {width:100%;;}
.divTableBoard {display:inline-block; width:100%;}
.divTableBoard  table {position:relative; width:100%;}
.divTableBoard  table tr{position:relative; font-size:20px;}
.divTableBoard  table tr th{position:relative; font-size:14px; padding-bottom:5px; border-bottom:1px solid #555; vertical-align: middle;}
.divTableBoard  table tr td{position:relative; padding:30px 0; font-size:14px; text-align:center; border-bottom:1px solid #ddd;}
.cell{text-align:left; font-size:14px;}
.cell .cell_list {display:inline-block; width:125px; border-right:1px solid #cdcdcd; margin:5px 10px 5px 0;}

.number_list{text-align:center; font-size:18px; margin:20px 0;}
.number_list strong {color:#ff1e00; padding:0 15px; text-decoration:none;}
.number_list a {color:#777; padding:0 15px; text-decoration:none;}
}

@media (max-width: 970px){

/*ì»¨íì¸ */
.divTable{display: table; width: 100%; vertical-align:inline !important;}
.divTable01 {border-bottom: 1px solid #ddd; display: table-cell; padding: 5px 0; line-height:30px;}
.divTable02 {display:block; border: 2px solid #444; padding:10px;}
.divTable03 {display:block; padding:15px 0 0 0;}
.topText {text-align:center; font-size:13px; text-align:left;}

.divTableBody {width:100%;;}
.divTableBoard {display:inline-block; width:100%;}
.divTableBoard  table {position:relative; width:100%;}
.divTableBoard  table tr{position:relative;}
.divTableBoard  table tr th{position:relative; font-size:10px; padding-bottom:5px; border-bottom:1px solid #555; vertical-align: middle;}
.divTableBoard  table tr td{position:relative; padding:20px 0; font-size:10px; text-align:center; border-bottom:1px solid #ddd;}
.cell{text-align:left; font-size:12px;}
.cell .cell_list {display:inline-block; width:115px; border-right:1px solid #cdcdcd; margin:5px 10px 5px 0;}

.number_list{text-align:center; font-size:18px; margin:10px 0;}
.number_list strong {color:#ff1e00; padding:0 8px; text-decoration:none;}
.number_list a {color:#777; padding:0 8px; text-decoration:none;}
}
/****/



